<div class='panel'>
    <div class='inner ads'>

        <a href="https://coding.net/app?hmsr=cnodejs&hmmd=%E5%9B%BE%E7%89%87%E5%B9%BF%E5%91%8A&hmpl=app&hmkw=&hmci=" target="_blank" class="banner sponsor_outlink"
           data-label="coding-net">
            <img src="//dn-cnodestatic.qbox.me/public/images/coding-net-logo-10.jpg">
        </a>

        <div class="sep10"></div>

        <a href="https://gitcafe.com/" target="_blank" class="banner sponsor_outlink"
           data-label="gitcafe">
            <img src="//dn-cnodestatic.qbox.me/public/images/gitcafe-banner-1.png">
        </a>

        <div class="sep10"></div>

        <a href="http://www.lagou.com/subject/s_fengbao.html?utm_source=AD__cnode_banner&utm_medium=front&utm_campaign=toufang" target="_blank" class="banner sponsor_outlink"
           data-label="lagou">
            <img src="//dn-cnodestatic.qbox.me/public/images/lagou-banner-1.png">
        </a>

        <div class="sep10"></div>

        <a href="http://www.qiniu.com/event/8/beijing/?utm_campaign=sjr8&utm_source=cnodejs" target="_blank" class="banner sponsor_outlink"
           data-label="qiniu-event">
            <img src="//dn-cnodestatic.qbox.me/public/images/qiniu-banner-1.jpg">
        </a>

        <div class="sep10"></div>

        <a href="https://talk.ai/?s=cnodejs" target="_blank" class="banner sponsor_outlink"
           data-label="teambition">
            <img src="//dn-cnodestatic.qbox.me/public/images/teambition-logo-3.jpg">
        </a>

        <div class="sep10"></div>

        <a href="http://www.jiankongbao.com/yunzhihui/active_essay" target="_blank" class="banner sponsor_outlink"
           data-label="jiankongbao">
            <img src="//dn-cnodestatic.qbox.me/public/images/jiankongbao-banner-2.png">
        </a>

    </div>
</div>