<div class='panel'>
    <div class='header'>
        <span class='col_fade'>友情社区</span>
    </div>
    <div class='inner'>
        <ol class="friendship-community">
            <li>
                <a href="https://ruby-china.org/" target="_blank">
                    <img src="//dn-cnodestatic.qbox.me/public/images/ruby-china-logo2.png">
                </a>
            </li>
            <div class="sep10"></div>
            <li>
                <a href="http://golangtc.com/" target="_blank">
                    <img src="//dn-cnodestatic.qbox.me/public/images/golangtc-logo.png">
                </a>
            </li>
            <div class="sep10"></div>
            <li>
                <a href="http://phphub.org/" target="_blank">
                    <img src="//dn-cnodestatic.qbox.me/public/images/phphub-logo.png">
                </a>
            </li>
        </ol>
    </div>
</div>