<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=title%>－<%=config.site.name%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/cnode.css" media="all" />
    <script src="/libs/jquery-1.11.2.min.js"></script>
    <script src="/libs/jquery.cookie.js"></script>
    <script src="/javascripts/core.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
