<% include ../partial/header.html %>
<% include ../partial/menu.html %>

<div id='main'>
    <div id='sidebar'>

        <% include ../partial/user_about.html %>

    </div>

    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li><a href='/'>主页</a><span class='divider'>/</span></li>
                    <li class='active'><%=title%></li>
                </ul>
            </div>
            <div class="inner">

                <form method="post" action="/signin?reurl=<%=(reurl||"")%>" class="form-horizontal" id="signin_form">
                    <div class="control-group">
                        <label for="email" class="control-label">邮箱/用户名</label>

                        <div class="controls">
                            <input type="text" size="30" name="email_name" id="email_name" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="pass" class="control-label">密码</label>

                        <div class="controls">
                            <input type="password" size="30" name="pass" id="pass" class="input-xlarge">
                        </div>
                    </div>
                    <input type="hidden" value="" name="_csrf">

                    <div class="form-actions">
                        <input type="submit" value="登录" class="span-primary">

                        <a href="/getpwd" id="getpwd" class="ml10 mr10">忘记密码了?</a>

                        <span class="red ml10 f12"><%=msg%></span>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<% include ../partial/footer.html %>
