<% include ../partial/header.html %>
<% include ../partial/menu.html %>

<div id='main'>

    <div id='sidebar'>
        <% include ../partial/userpanel.html %>
        <% include ../partial/ad.html %>
        <% include ../partial/friendlink.html %>
    </div>

    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li><a href='/'>主页</a><span class='divider'>/</span></li>
                    <li class='active'><%=title%></li>
                </ul>
            </div>
            <div class="inner">

                <form method="post" action="/user/userinfo" class="form-horizontal" id="signin_form">

                    <div class="control-group">
                        <label for="email" class="control-label">原始密码</label>

                        <div class="controls">
                            <input type="password" size="30" name="oldpwd" id="oldpwd" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <hr />
                    </div>

                    <div class="control-group">
                        <label for="pass" class="control-label">密码</label>

                        <div class="controls">
                            <input type="password" size="30" name="pwd" id="pwd" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="pass" class="control-label">确认密码</label>

                        <div class="controls">
                            <input type="password" size="30" name="repwd" id="repwd" class="input-xlarge">
                        </div>
                    </div>

                    <input type="hidden" name="email" id="email" value="<%=email%>" />

                    <div class="form-actions">
                        <input type="submit" value="修改" class="span-primary">
                        <span class="red ml10 f12"><%-msg%></span>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>

<% include ../partial/footer.html %>
