<% include partial/header.html %>
<% include partial/menu.html %>
<div id='main'>
    <div id='sidebar'>

        <% include partial/userpanel.html %>
        <% include partial/ad.html %>
        <% include partial/friendlink.html %>
        
    </div>


    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li><a href='/'>主页</a><span class='divider'>/</span></li>
                    <li class='active'><%=title%></li>
                </ul>
            </div>
            <div class='inner topic'>
                <div class="topic_content">
                    <div class="markdown-text">
                        <h2>Node.js 入门</h2>
                        <p>《<strong>快速搭建 Node.js 开发环境以及加速 npm</strong>》</p>
                        <p><a href="http://fengmk2.cnpmjs.org/blog/2014/03/node-env-and-faster-npm.html">http://fengmk2.cnpmjs.org/blog/2014/03/node-env-and-faster-npm.html</a></p>
                        <p>《<strong>Node.js 包教不包会</strong>》</p>
                        <p><a href="https://github.com/alsotang/node-lessons">https://github.com/alsotang/node-lessons</a></p>
                        <p>《<strong>七天学会NodeJS</strong>》</p>
                        <p><a href="https://github.com/nqdeng/7-days-nodejs">https://github.com/nqdeng/7-days-nodejs</a></p>
                        <p>《<strong>Node入门-<em>一本全面的Node.js教程</em></strong>》</p>
                        <p><a href="http://www.nodebeginner.org/index-zh-cn.html">http://www.nodebeginner.org/index-zh-cn.html</a></p>
                        <h2>Node.js 资源</h2>
                        <p>《<strong>node123-<em>node.js中文资料导航</em></strong>》</p>
                        <p><a href="https://github.com/youyudehexie/node123">https://github.com/youyudehexie/node123</a></p>
                        <p>《<strong>A curated list of delightful Node.js packages and resources</strong>》</p>
                        <p><a href="https://github.com/sindresorhus/awesome-nodejs">https://github.com/sindresorhus/awesome-nodejs</a></p>
                        <p>《<strong>NODE.JS MODULES</strong>》</p>
                        <p><a href="https://nodejsmodules.org/">https://nodejsmodules.org/</a></p>
                        <h2>Node.js 书籍</h2>
                        <p>《<strong>Node.js Books</strong>》</p>
                        <p><a href="https://github.com/pana/node-books">https://github.com/pana/node-books</a></p>
                        <h2>Node.js 名人</h2>
                        <p>《<strong>名人堂</strong>》</p>
                        <p><a href="https://github.com/cnodejs/nodeclub/wiki/%E5%90%8D%E4%BA%BA%E5%A0%82">https://github.com/cnodejs/nodeclub/wiki/%E5%90%8D%E4%BA%BA%E5%A0%82</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<% include partial/footer.html %>