<% include partial/header.html %>
<% include partial/menu.html %>

<div id='main'>
 <div id='sidebar'>

 <% include partial/userpanel.html %>
 <% include partial/ad.html %>
 <% include partial/friendlink.html %>

 </div>

 <div id='content'>
 <div class='panel'>
 <div class='header topic_header'>
 <span class="topic_full_title">

 【上海】HTML5,CSS,JS,web前端开发工程师，都是往移动互联网发展的，好嘛！！！你造吗？
 </span>
 <div class="action">

 </div>
 <div class="changes">
 <span>
 发布于 2个月前
 </span>
 <span>
 作者 <a href="/user/huangrongrong">huangrongrong</a>
 </span>
 <span>
 3741 次浏览
 </span>

 <span>
 最后一次编辑是 17天前
 </span>


 <span> 来自 招聘</span>

 </div>

 </div>
 <div class='inner topic'>

 <div class='topic_content'>
     <div class="markdown-text">
<p>
2014年2月19日，腾讯入股大众点评，发力O2O，与百度、阿里三足鼎立，势如破竹。
2014年3月10日，腾讯联姻京东，剑指阿里，一马平川。
2014年第三季度，腾讯总营收为人民币198.08亿元(约合32.2亿美元)，同比增长28%，令世人瞩目。
2014年11月5日，腾讯拟收购盛大文学，PK百度，周旋阿里。
腾讯改变了世界，你也可以改变自己！
有趣的是：微信，不仅仅连接着你和他/她，也一不小心与“我们”牵手为约。我是微客来，&quot;我们&quot;是腾讯和微客来。
我们与微信有缘，我们专注于互联网。
WENEEDU!准备好了就来！
</p>
<p>我们讨厌那种只有职责描述、任职要求、以及“工资面议”之类冷冰冰的招聘启事。任何一个职位背后，一定有一个公司的梦想，一群性格迥异的人共同塑造的团队性格，以及严谨流程外表下知疼知热的同事温情。</p>
<p>
1、公司的工作环境如何？
我们位于张江高科科技园内，毗邻金科路地铁站，如果你是赛跑冠军，5分钟即可，如果你悠悠漫步，伴着路边淡淡的桂花香，12分钟也就OK啦。
团队成员都极简单善良，公司也赋予员工各种自由。你只需要做好一件事就够了：创造！
有些公司为了招聘摆出美女云云。我耻于用这样的伎俩，因为能泡到的美女才是你的，否则我秀多少都和你无关。
互联网公司近200人没有美女那是怪事，不过我想告诉你，这里更多的是善良单纯的同事、嘘寒问暖的姐妹、善解人意的领导。我们希望自己怎么被对待，会以同样的方式对待你。
</p>
<p>
2、我们需要什么样的人？
简单说，我们需要技术优秀的人。
“优秀”，并不要求你有哪个名牌大学的学历或曾任职于什么大牌公司。
“优秀”，首先要求你对所从事工作的喜爱。如果你是工程师，你对自己程序的算法和运行效率极其挑剔。“优秀”还体现在你对待工作的态度。态度认真是起码要求，一旦承诺，不打折扣执行出来。在长期和各种技术产品共事的过程中，我们得出的这样的结论：把工作等同于兴趣并能靠谱执行的人就是优秀的人。
</p>
<p>无论你什么学历、什么经历、或对薪水有什么预期，都不必忌讳，我们以完全开放的心态，期待你和我联系。</p>
<p>
3、薪水和待遇如何？
我们的薪资绝不低于互联网行业平均水平。薪水根据个人能力而定。有兴趣者可直接向我询问。
除了薪资，公司为员工提供完善保险和福利，五险一金加各种补助。
</p>
<p>
4、如何应聘？
发简历到<a href="mailto:huang.rr@vcooline.com">huang.rr@vcooline.com</a>或者加QQ1780394536即可。
什么是好工作？在轻松的环境里做自己喜欢的事情，还有不错的薪水。这就是一份好工作。
有兴趣应聘的朋友，我们对你只要一个要求：喜欢，真的喜欢。我们许诺给你两样东西：轻松的环境和对得起你的薪水。
公司官网:[<a href="http://www.vcooline.com/">http://www.vcooline.com/</a>]
</p>
<p>
羽毛球俱乐部
<img src="//dn-cnode.qbox.me/FlbhKDHLGvf5ohhrpK-pzVgYIdgN" alt="614f3b5c8585a7ec9288988ef8fcb803.jpg">
篮球俱乐部
<img src="//dn-cnode.qbox.me/Fn3jzTzt4T9Zhlgjj_BYFGtIxFup" alt="8c8b843038bcadda2f66845d383eb5a9.jpg">
乒乓球俱乐部
<img src="//dn-cnode.qbox.me/FhmDg6ksgr7JNKyuYjx2I2l-mUst" alt="bf77903dc92d338876b14972c66c9fc7.jpg">
部门活动—户外烧烤
<img src="//dn-cnode.qbox.me/FiKN-bMSaWmjaSPP0IPeUKFi3HwM" alt="cce8f1dc2acd10a30268ce06261e9423.jpg">
部门活动—赛龙舟
<img src="//dn-cnode.qbox.me/FrXp0ozjAT-4zqxABONxHqddOQZA" alt="fb07c2f52eee7a6c13c1bc766fb0e77d.jpg">
部门友爱合照
<img src="//dn-cnode.qbox.me/FjG1HfFlHfdGja5h-ytP4A4GqTqX" alt="P41123.JPG">
公司出游合照
<img src="//dn-cnode.qbox.me/FifuwBDERrOxNwnuZfUWDrXfi0uy" alt="IMG_1764-B1.jpg">
年会合照
<img src="//dn-cnode.qbox.me/Fknt7qIcQbyv1sWY5nf-BwlH2v3w" alt="1bb9b0305b08a1bf270a93153352f289.jpg">
2015年的年会，怎么可以缺的了你呢！
微客来诚邀你加入我们这个大家庭，心动不如行动，来吧，相约微客来！
微客来，大未来，等你来！
</p>
     </div>
 </div>
 <div class="share">
 <!-- JiaThis Button BEGIN -->
 <div class="jiathis_style_24x24">
 <a class="jiathis_button_qzone"></a>
 <a class="jiathis_button_tsina"></a>
 <a class="jiathis_button_tqq"></a>
 <a class="jiathis_button_weixin"></a>
 <a class="jiathis_button_renren"></a>
 <a class="jiathis_counter_style"></a>
 </div>
 <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
 <!-- JiaThis Button END -->
 </div>
 </div>
 </div>

 <div class='panel'>
 <div class='header'>
 <span class='col_fade'>34 回复</span>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply1" reply_id="544a4d3069abd330585c1875" reply_to_id="">
 <a class="anchor" id="544a4d3069abd330585c1875"></a>

 <div class='author_content'>
 <a href="/user/soliury" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/5032079?v=3&amp;s=120"
 title="soliury" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/soliury">
 soliury
 </a>
 <a class="reply_time" href="#544a4d3069abd330585c1875">1楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-soliury'>
 <div class="markdown-text">
 <p>程序媛，好少见</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply2" reply_id="544d93f3443d99990a9d4817" reply_to_id="544a4d3069abd330585c1875">
 <a class="anchor" id="544d93f3443d99990a9d4817"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#544d93f3443d99990a9d4817">2楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/soliury">@soliury</a> 哈哈，我是HR一枚。。。。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply3" reply_id="544d9498443d99990a9d4819" reply_to_id="">
 <a class="anchor" id="544d9498443d99990a9d4819"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#544d9498443d99990a9d4819">3楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>
 上面的帖子是中级的，如果想要做高级前端开发的，请看以下的职位JD
 岗位职责：
 1、负责WEB前端的关键技术预研、技术选型工作；
 2、负责WEB前端核心模块代码的编写和对系统的持续分析及优化改进；
 3、负责调试、解决不同终端、不同浏览器下的各种兼容性问题；
 4、负责与后端开发人员之间的协调和沟通。
 </p>
 <p>
 岗位要求：
 1、有3年以上WEB前端开发经验，拥有良好的代码风格、编程习惯，对代码质量有执着的追求和强烈的责任感；
 2、熟练掌握HTML和CSS，熟悉W3C标准和各主流浏览器在前端开发中的差异，能提供不同浏览器的前端页面解决方案；
 3、精通jQuery、JavaScript、Ajax等前端技术，熟悉HTTP协议，对页面加载性能优化有较深的理解；
 4、对JavaScript面向对象编程具有深入的了解，并实现高性能的交互效果；
 5、主导过2个以上软件产品项目的WEB前端架构设计；
 6、至少熟悉一门后端开发语言；
 7、积极主动、做事严谨，具备良好的执行力和沟通力。
 </p>
 <p>
 加分项：
 1、精通JavaScript及JavaScript面向对象编程；
 2、熟悉AngularJS、Backbone等JavaScript框架，有框架源码阅读经验尤佳；
 4、有单页应用开发经验；
 3、有自己的GitHub地址。
 一句话：不管是大牛，还是小牛，我们都在浦东张江的微客来，等你！！！！！
 </p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply4" reply_id="544dd9ad443d99990a9d4874" reply_to_id="544d9498443d99990a9d4819">
 <a class="anchor" id="544dd9ad443d99990a9d4874"></a>

 <div class='author_content'>
 <a href="/user/soliury" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/5032079?v=3&amp;s=120"
 title="soliury" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/soliury">
 soliury
 </a>
 <a class="reply_time" href="#544dd9ad443d99990a9d4874">4楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-soliury'>
 <div class="markdown-text">
 <p><a href="/user/huangrongrong">@huangrongrong</a> 我就说嘛</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply5" reply_id="544e00ef443d99990a9d48b6" reply_to_id="">
 <a class="anchor" id="544e00ef443d99990a9d48b6"></a>

 <div class='author_content'>
 <a href="/user/weijinshi" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/6167168?v=3&amp;s=120"
 title="weijinshi" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/weijinshi">
 weijinshi
 </a>
 <a class="reply_time" href="#544e00ef443d99990a9d48b6">5楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-weijinshi'>
 <div class="markdown-text">
 <p><a href="/user/huangrongrong">@huangrongrong</a> 要初级的吗？要求基本都接触过，熟练不太敢说。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply6" reply_id="544f052e888fcbd6172d3878" reply_to_id="544dd9ad443d99990a9d4874">
 <a class="anchor" id="544f052e888fcbd6172d3878"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#544f052e888fcbd6172d3878">6楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/soliury">@soliury</a> 如果上天再给我一次机会，我一定做前端！</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply7" reply_id="544f054b888fcbd6172d387a" reply_to_id="544e00ef443d99990a9d48b6">
 <a class="anchor" id="544f054b888fcbd6172d387a"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#544f054b888fcbd6172d387a">7楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/weijinshi">@weijinshi</a> 可以试试，你可以加我QQ，我让技术给你电话面试先。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply8" reply_id="544f0604888fcbd6172d387d" reply_to_id="">
 <a class="anchor" id="544f0604888fcbd6172d387d"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#544f0604888fcbd6172d387d">8楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>
 目前公司内部有5名前端，我还需要招4名左右，其中需要1-2名大牛，2名中级左右的，所以，大家有推荐的或者自荐的，都可以加我QQ，联系我，如有推荐成功入职，我们会给推荐奖金1500左右，非常感谢大家！！！
 备注：加我的时候，请备注在CNode上看到招聘帖子。O(∩_∩)O
 </p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply9" reply_id="54503d8f888fcbd6172d398a" reply_to_id="">
 <a class="anchor" id="54503d8f888fcbd6172d398a"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#54503d8f888fcbd6172d398a">9楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>发现看的人多，怎么木有人，想来试一下呢 ![$}$V3]9TVP$4O}91RQ9[Q]3.jpg](//dn-cnode.qbox.me/FvOJpDb-lnzKKcMh3Rvbv-bbe9w9)</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply10" reply_id="5451a4aad0c2f0fe2f533a33" reply_to_id="">
 <a class="anchor" id="5451a4aad0c2f0fe2f533a33"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5451a4aad0c2f0fe2f533a33">10楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>
 <a href="http://www.vcooline.com/">微客来，大未来</a>
 我们在这里等着你来加入！
 </p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply11" reply_id="5451e396d0c2f0fe2f533a6b" reply_to_id="54503d8f888fcbd6172d398a">
 <a class="anchor" id="5451e396d0c2f0fe2f533a6b"></a>

 <div class='author_content'>
 <a href="/user/hpgt" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/7362116?v=3&amp;s=120"
 title="hpgt" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/hpgt">
 hpgt
 </a>
 <a class="reply_time" href="#5451e396d0c2f0fe2f533a6b">11楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-hpgt'>
 <div class="markdown-text">
 <p><a href="/user/huangrongrong">@huangrongrong</a> 可惜我是后端，不是前端</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply12" reply_id="5452e80fd0c2f0fe2f533afe" reply_to_id="5451e396d0c2f0fe2f533a6b">
 <a class="anchor" id="5452e80fd0c2f0fe2f533afe"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5452e80fd0c2f0fe2f533afe">12楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/hpgt">@hpgt</a> 哎，好忧桑。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply13" reply_id="5452e919d0c2f0fe2f533b02" reply_to_id="5452e80fd0c2f0fe2f533afe">
 <a class="anchor" id="5452e919d0c2f0fe2f533b02"></a>

 <div class='author_content'>
 <a href="/user/hpgt" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/7362116?v=3&amp;s=120"
 title="hpgt" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/hpgt">
 hpgt
 </a>
 <a class="reply_time" href="#5452e919d0c2f0fe2f533b02">13楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-hpgt'>
 <div class="markdown-text">
 <p>
 <a href="/user/huangrongrong">@huangrongrong</a> 现在开始学还赶得上吗？
 <img src="//dn-cnode.qbox.me/FoUvHxA8cReIwS05Yu9--_QCan55" alt="53fe7d951195cfc29397f4019aa79969.gif">
 </p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply14" reply_id="5452ed0cd0c2f0fe2f533b08" reply_to_id="5452e919d0c2f0fe2f533b02">
 <a class="anchor" id="5452ed0cd0c2f0fe2f533b08"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5452ed0cd0c2f0fe2f533b08">14楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/hpgt">@hpgt</a> 哈哈，我觉得可以有！</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply15" reply_id="5452efccd0c2f0fe2f533b0e" reply_to_id="5452ed0cd0c2f0fe2f533b08">
 <a class="anchor" id="5452efccd0c2f0fe2f533b0e"></a>

 <div class='author_content'>
 <a href="/user/hpgt" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/7362116?v=3&amp;s=120"
 title="hpgt" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/hpgt">
 hpgt
 </a>
 <a class="reply_time" href="#5452efccd0c2f0fe2f533b0e">15楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-hpgt'>
 <div class="markdown-text">
 <p><a href="/user/huangrongrong">@huangrongrong</a> 现在学了找工作也只能算新手，不过学习一下还是有必要的</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply16" reply_id="5456d2f6bd206eb2275d7a62" reply_to_id="5452efccd0c2f0fe2f533b0e">
 <a class="anchor" id="5456d2f6bd206eb2275d7a62"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5456d2f6bd206eb2275d7a62">16楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/hpgt">@hpgt</a> 学了，总有机会的。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply17" reply_id="545738276537f4d52c414db7" reply_to_id="">
 <a class="anchor" id="545738276537f4d52c414db7"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#545738276537f4d52c414db7">17楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>对面的帅哥看过来啊。。。。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply18" reply_id="545b0f563e1f39344c5b3b68" reply_to_id="">
 <a class="anchor" id="545b0f563e1f39344c5b3b68"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#545b0f563e1f39344c5b3b68">18楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>浏览量倒是好多，为什么木有实际行动的人呢。大家活跃点啊。。。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply19" reply_id="546024b00994da5e12d853d7" reply_to_id="">
 <a class="anchor" id="546024b00994da5e12d853d7"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#546024b00994da5e12d853d7">19楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>帖子已经10多天了，流量到了2千多，可是呢，合适的人还没有出现。。。。
 这话说的好酸，感觉像是征友贴，哈哈
 等着合适的前端，你，来找我们！
 </p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply20" reply_id="546055500994da5e12d85425" reply_to_id="">
 <a class="anchor" id="546055500994da5e12d85425"></a>

 <div class='author_content'>
 <a href="/user/violet-day" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/5970246?v=3&amp;s=120"
 title="violet-day" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/violet-day">
 violet-day
 </a>
 <a class="reply_time" href="#546055500994da5e12d85425">20楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-violet-day'>
 <div class="markdown-text">
 <p>妹子是hr？</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply21" reply_id="54607ce2789ab1f8158e1bc5" reply_to_id="546055500994da5e12d85425">
 <a class="anchor" id="54607ce2789ab1f8158e1bc5"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#54607ce2789ab1f8158e1bc5">21楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/violet-day">@violet-day</a> 是的呢╮(╯▽╰)╭</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply22" reply_id="5462caaf789ab1f8158e1d69" reply_to_id="">
 <a class="anchor" id="5462caaf789ab1f8158e1d69"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5462caaf789ab1f8158e1d69">22楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>everybody, come on!</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply23" reply_id="5462cf7a789ab1f8158e1d6f" reply_to_id="">
 <a class="anchor" id="5462cf7a789ab1f8158e1d6f"></a>

 <div class='author_content'>
 <a href="/user/LongLong-Uo" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9463197?v=2&amp;s=120"
 title="LongLong-Uo" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/LongLong-Uo">
 LongLong-Uo
 </a>
 <a class="reply_time" href="#5462cf7a789ab1f8158e1d6f">23楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-LongLong-Uo'>
 <div class="markdown-text">
 <p>
 精通java 熟悉 .net 初学 node | Python、Ruby 完全没看过…<br>
 有效期到啥时候明年找我去当个小牛呗 @。@
 </p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply24" reply_id="546425d872f405c829029fc8" reply_to_id="5462cf7a789ab1f8158e1d6f">
 <a class="anchor" id="546425d872f405c829029fc8"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#546425d872f405c829029fc8">24楼•2个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/LongLong-Uo">@LongLong-Uo</a> 好的，这个帖子，长期有效，亲们~~~~~~</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply25" reply_id="546bee701c825b0c4d79e7ff" reply_to_id="">
 <a class="anchor" id="546bee701c825b0c4d79e7ff"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#546bee701c825b0c4d79e7ff">25楼•1个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><strong>顶起来吧，亲们（づ￣3￣）づ╭❤～</strong></p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply26" reply_id="5473ed9ea3e2aee40698e016" reply_to_id="54607ce2789ab1f8158e1bc5">
 <a class="anchor" id="5473ed9ea3e2aee40698e016"></a>

 <div class='author_content'>
 <a href="/user/violet-day" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/5970246?v=3&amp;s=120"
 title="violet-day" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/violet-day">
 violet-day
 </a>
 <a class="reply_time" href="#5473ed9ea3e2aee40698e016">26楼•1个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-violet-day'>
 <div class="markdown-text">
 <p><a href="/user/huangrongrong">@huangrongrong</a> 15天前。。。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply27" reply_id="5475c8be65e5a201268b91a2" reply_to_id="">
 <a class="anchor" id="5475c8be65e5a201268b91a2"></a>

 <div class='author_content'>
 <a href="/user/usherwong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/1889378?v=2&amp;s=120"
 title="usherwong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/usherwong">
 usherwong
 </a>
 <a class="reply_time" href="#5475c8be65e5a201268b91a2">27楼•1个月前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-usherwong'>
 <div class="markdown-text">
 <p>上海哦，好远</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply28" reply_id="548015203098e8df0a116e75" reply_to_id="5473ed9ea3e2aee40698e016">
 <a class="anchor" id="548015203098e8df0a116e75"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#548015203098e8df0a116e75">28楼•25天前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/violet-day">@violet-day</a> 一直在啊，亲。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply29" reply_id="5480152e3098e8df0a116e77" reply_to_id="5475c8be65e5a201268b91a2">
 <a class="anchor" id="5480152e3098e8df0a116e77"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5480152e3098e8df0a116e77">29楼•25天前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p><a href="/user/usherwong">@usherwong</a> 上海的呢，顶起来啊。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply30" reply_id="5487afb4fa1171ca10c11bcd" reply_to_id="">
 <a class="anchor" id="5487afb4fa1171ca10c11bcd"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5487afb4fa1171ca10c11bcd">30楼•19天前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>木有人感兴趣吗！！！！</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply31" reply_id="5487e3e5fa1171ca10c11c01" reply_to_id="">
 <a class="anchor" id="5487e3e5fa1171ca10c11c01"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#5487e3e5fa1171ca10c11c01">31楼•19天前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>3000多的浏览量，咋就没有换来联系我的人(⊙o⊙)？</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply32" reply_id="548a546a57fd3ae46b233379" reply_to_id="">
 <a class="anchor" id="548a546a57fd3ae46b233379"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#548a546a57fd3ae46b233379">32楼•17天前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>
 ![$}$V3]9TVP$4O}91RQ9[Q]3.jpg](//dn-cnode.qbox.me/FvOJpDb-lnzKKcMh3Rvbv-bbe9w9)
 有木有人啊！！！！！！！！！！！！！！！！！！！！！！！
 </p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply33" reply_id="548a5a7057fd3ae46b23337d" reply_to_id="">
 <a class="anchor" id="548a5a7057fd3ae46b23337d"></a>

 <div class='author_content'>
 <a href="/user/bnuhero" class="user_avatar">
 <img src="//gravatar.com/avatar/cefc4edf683bb205aa6291358e747ebb?size=48"
 title="bnuhero" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/bnuhero">
 bnuhero
 </a>
 <a class="reply_time" href="#548a5a7057fd3ae46b23337d">33楼•17天前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-bnuhero'>
 <div class="markdown-text">
 <p>招新人，请去高校贴小广告。找高手，如果你们公司团队已有知名技术人员，让他利用自己的人脉找更合适。否则，还是猎头直接上手挖吧。</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>
 <div class='cell reply_area reply_item
 '
 id="reply34" reply_id="54a0f50c8ade094b67f3fe49" reply_to_id="">
 <a class="anchor" id="54a0f50c8ade094b67f3fe49"></a>

 <div class='author_content'>
 <a href="/user/huangrongrong" class="user_avatar">
 <img src="https://avatars.githubusercontent.com/u/9334414?v=3&amp;s=120"
 title="huangrongrong" height="30" width="30" />
 </a>

 <div class='user_info'>
 <a class='dark reply_author' href="/user/huangrongrong">
 huangrongrong
 </a>
 <a class="reply_time" href="#54a0f50c8ade094b67f3fe49">34楼•4小时前</a>
 </div>
 <div class='user_action'>
 <span>
 <i class="fa up_btn
 fa-thumbs-o-up
 invisible" title="喜欢"></i>
 <span class="up-count">

 </span>
 </span>

 <span>

 </span>
 </div>
 </div>
 <div class='reply_content from-huangrongrong'>
 <div class="markdown-text">
 <p>人哪！！！！</p>
 </div>
 </div>
 <div class='clearfix'>
 <div class='reply2_area'>

 </div>
 </div>
 </div>

 </div>


 </div>

 <div class="replies_history">
 <div class="inner_content"></div>
 <div class="anchor"></div>
 </div>






</div>

<% include partial/footer.html %>