<% include ../partial/header.html %>
<% include ../partial/menu.html %>
<div id='main'>
    <div id='sidebar'>
        <% include ../partial/userpanel.html %>
        <% include ../partial/ad.html %>
        <% include ../partial/friendlink.html %>
    </div>

    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ol class='breadcrumb'>
                    <li><a href='/'>主页</a><span class='divider'>/</span></li>

                    <li class='active'><%=title%></li>

                </ol>
            </div>
            <div class='inner post'>
                <form id='create_topic_form' action='/topic/post/<%=model._id||""%>' method='post'>
                    <fieldset>
                        <span class="tab-selector">选择版块：</span>
                        <select name="tab" id="tab-value">
                            <option value="">请选择</option>
                            <%for(var tab in tabs){%>
                            <option value="<%=tab%>" <%=(model.tag==tab)?"selected":""%>  ><%=tabs[tab]%></option>
                            <% } %>
                        </select>
                        <span id="topic_create_warn"></span>
                        <textarea class='span9' id='title' name='title' placeholder="标题字数 10 字以上"><%=model.title||""%></textarea>

                        <div class='markdown_editor in_editor'>
                            <div class='markdown_in_editor'>
                                <script type="text/plain" id="editor" style="width:99%;height:360px;"><%-model.content||""%></script>
                                <textarea class="mt10" class='span9' id='words' name='words' placeholder="多个关键字，请使用”，“号隔开"><%=model.words||""%></textarea>
                                <div class='editor_buttons'><input type="submit" class='span-primary submit_btn' data-loading-text="提交中" value="提交"></div>
                            </div>
                        </div>

                        <input type='hidden' name='user_info' value='<%=model.user_info||""%>'>
                        <input type='hidden' name='_csrf' value='XsIymYVm-QcpnBI2tp_wdEhpmwVzap7hUvZA'>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="/vendor/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/vendor/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/vendor/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/vendor/umeditor/lang/zh-cn/zh-cn.js"></script>

<script>
    (function () {
        
        // 版块选择的检查，必须选择
        $('#create_topic_form').on('submit', function (e) {
            var tabValue = $('#tab-value').val();
            
            if (!tabValue) {
                alert('必须选择一个版块！');
                $('.tab-selector').css('color', 'red');
                return false;
            }
        });
       
    })();
</script>


<script type="text/javascript">
    var serverPath = '/server/umeditor/',
        um = UM.getEditor('editor', {
            imageUrl: serverPath + "imageUp.php",
            imagePath: serverPath,
            lang: /^zh/.test(navigator.language || navigator.browserLanguage || navigator.userLanguage) ? 'zh-cn' : 'en',
            langPath: UMEDITOR_CONFIG.UMEDITOR_HOME_URL + "lang/",
            focus: true
        });

    function insertHtml() {
        var value = prompt('插入html代码', '');
        um.execCommand('insertHtml', value)
    }
    function getAllHtml() {
        alert(UM.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function isFocus() {
        alert(um.isFocus())
    }
    function doBlur() {
        um.blur()
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用umeditor', true)方法可以设置编辑器的内容");
        UM.getEditor('editor').setContent('欢迎使用umeditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UM.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UM.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UM.getEditor('editor').selection.getRange();
        range.select();
        var txt = UM.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UM.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UM.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UM.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UM.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btnContainer');
        var btns = UM.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UM.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                $(btn).attr("disabled", true).addClass("disabled");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btnContainer');
        var btns = UM.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            $(btn).removeAttr("disabled").removeClass("disabled");
        }
    }
 

</script>


<% include ../partial/footer.html %>
