<% include ../partial/header.html %>
<% include ../partial/menu.html %>

<div id='main'>
    <div id='sidebar'>

        <% include ../partial/userpanel.html %>
        <% include ../partial/ad.html %>
        <% include ../partial/friendlink.html %>

    </div>

    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li><a href='/'>主页</a><span class='divider'>/</span></li>
                    <li class='active'>搜索<b><%=searchtag%></b>的结果页</li>
                </ul>
            </div>
            
            <div class="inner no-padding">
                <div id="topic_list">

                    <% for(var i=0; i<topics.length; i++) {%>
                        <div class="cell" data-id="<%= topics[i]._id%>">

                            <a href="/user/<%= topics[i].user_info.user %>" class="user_avatar pull-left">
                                <img title="<%= topics[i].user_info.user %>" src="<%= topics[i].user_info.avator %>">
                            </a>

                            <span class="reply_count pull-left">
                                <span title="回复数" class="count_of_replies">
                                    <%= topics[i].comment_count %>
                                </span>
                                <span class="count_seperator">/</span>
                                <span title="点击数" class="count_of_visits">
                                    <%= topics[i].hit %>
                                </span>
                            </span>

                            <a href="/topic/<%= topics[i]._id %>" class="last_time pull-right">
                                <span class="last_active_time"><%= dateFormat(topics[i].update_time) %></span>
                            </a>

                            <div class="topic_title_wrapper">
                                <%if(topics[i].top==true){%>
                                <span class="put_top">置顶</span>
                                <%}else if(topics[i].good==true){%>
                                <span class="put_good"><a href="/?tab=good">精华</a></span>
                                <%}else{%>
                                <span class="topiclist-tab"><a href="/?tab=<%= topics[i].tag %>"><%= topics[i].tagName %></a></span>
                                <%}%>

                                <a title="<%= topics[i].title %>" href="/topic/<%= topics[i]._id %>" class="topic_title">
                                    <%= topics[i].title %>
                                </a>

                                <div class="j_topicControl">
                                    <% if(isAdmin){%>
                                    <span>操作》</span>
                                    <div class="drop">
                                        <ul>
                                            <li><a href="/topic/post/<%= topics[i]._id%>">编辑</a></li>
                                            <li><a href="#del">删除</a></li>
                                            <li><a href="#good"><%if(topics[i].good){%>取消精华<%}else{%>精华<%}%></a></li>
                                            <li><a href="#top"><%if(topics[i].top){%>取消置顶<%}else{%>置顶<%}%></a></li>
                                        </ul>
                                    </div>
                                    <%}%>
                                </div>

                            </div>




                        </div>
                        <% } %>

                </div>
                <div current-page="<%=topic_currentNum%>" class="pagination">
                    <%-paginationNode%>
                </div>
            </div>

        </div>
    </div>

</div>

<% include ../partial/footer.html %>
