body { font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
a { color: #00B7FF; }

/*固定居中两种方法 */
/*position: fixed;left:0;top:0;right:0;bottom:0;margin:auto;*/
/*position:fixed;left:50%;top:50%;transform:translate(-50%, -50%);*/


.wrap{border:1px solid #ccc;box-shadow:0 0 15px rgba(0,0,0,.5);width:800px;border-radius:10px;height:420px;position: fixed;left:0;top:0;right:0;bottom:0;margin:auto;}
.wrap .pop-close{font-size:40px;margin-right:10px;}
.wrap .pop-asking-hd{line-height:45px;height:45px;border-bottom:1px#ccc solid;text-indent:20px;font-weight:bold;}
.wrap .pop-asking-bd{padding:30px;}
.wrap .pop-asking-bd p{margin-bottom:10px;}
.wrap .pop-asking-bd p label{width:150px;display:inline-block;text-align:right;vertical-align:top;line-height:25px;}
.wrap .pop-asking-bd p input{margin-left:0;}
.wrap .pop-asking-bd p input[type='text'],.wrap .pop-asking-bd p textarea{border:1px solid #ccc;min-width:70%;}
.wrap .pop-asking-bd p textarea { height:100px;}
.wrap .btn-submit{background:#00B7FF;padding:5px 10px;display:inline-block;cursor:pointer;border:none;}


.list { width: 800px;margin:0 auto; }
.list li { border-bottom:1px solid #ccc;padding:10px;}
.list li .p1{margin-bottom:10px;}
.list li .p2{text-indent:2em;}
.list li .p3{text-align:right;font-size:10px;}
























































