<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="devApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>dev 04</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/angularjs/app/bower_components/angular/angular.js"></script>
    <script src="/angularjs/scripts/dev/d4.js"></script>
    <style>
        input{width:100%;}
    </style>
</head>
<body>

    <div class="wrap">
        <div class="block" ng-controller="ACtrl">
            <input type="text" value="" ng-model="name" />
            我叫{{name}}
        </div>
        <div class="block" ng-controller="BCtrl">
            <input type="text" value="" />
            我曾叫过
            <span ng-repeat="item in names">
                <label ng-click="pop(item)">{{item}},</label>
            </span>
        </div>
    </div>


    <div class="domain">
        <div ng-init="list = ['Chrome', 'Safari', 'Firefox', 'IE']">
            <p><input ng-model="list" ng-list></p>
            <p><input ng-model="list" ng-list></p>
            <pre>list={{list}}</pre> <br>
            <ol>
                <li ng-repeat="item in list">
                    {{item}}
                </li>
            </ol>
        </div>

        <p ng-init="parents=['d','Z']">
            parent's first name is <span ng-repeat="pa in parents">{{pa|lowercase}},</span>
        </p>

        <p ng-init="money=[5678]">
            我有： <span ng-repeat="m in money">{{m|currency:'RMB￥'}},</span>
        </p>

        <p ng-init="status='true'">
            我的状态是： {{status|CusFilter|lowercase}}</span>
        </p>





    </div>

</body>
</html>
