<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='http://r01.uzaicdn.com/content/v1/styles/base.css' />
	<link rel="stylesheet" href="http://r.uzaicdn.com/content/v1/styles/_src/base.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://r01.uzaicdn.com/content/libs/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/core.js" type="text/javascript"></script>
  </head>
  <body>
   
   <div class="list" id="j_list">
       <ul>
           <li class="item">
               <p class="p1">手机：13472792921 邮箱：dd@dd.dd</p>
               <p class="p2">留言内容</p>
               <p class="p3">2014-12-16 15:14</p>
           </li>
       </ul>
   </div>

    <div class="wrap" id="j_wrap">
        <form method="get"  action="/postMsg"  >
        <div class="pop-asking" id="pop-asking">
            <dl class="pop-asking-inner">
                <dt class="pop-asking-hd clearfix"><em class="f18 yahei fl">我要留言</em><a class="pop-close fr lh1" href="javascript:void(0);">×</a></dt>
                <dd class="pop-asking-bd">
                    <p class="cont-item">
                        <label class="item-hd f14" for="phone">联系电话</label>
                        <input type="text" class="phone f999 p5" id="phone" name="phone"><span style="color: Red; text-align: left;" class="errorInfo"></span>
                    </p>
                    <div class="cont-item mb15">
                        <p>
                            <label class="item-hd f14" for="askCont">咨询内容</label>
                            <textarea class="txta f999 p5 j_txtA" id="content" name="content"></textarea>
                        </p>
                        <div class="cont-item-r">
                            <p id="j_contactEMail" class="mt10"><label class="item-hd f14" for="email">联系邮箱</label>
							<input type="text" class="email p5" name="email" id="email"></p>
                        </div>
                    </div>
                    <p class="cont-item tc"><input type="submit" class="btn-submit white f18 yahei tc"  id="submitMsg" value="提&nbsp;&nbsp;交" /></p>
                </dd>
            </dl>
        </div>
        </form>
    </div>

  </body>
</html>
