/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/
/* line 4, reset.less */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 17, reset.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 19, reset.less */
ol,
ul {
  list-style: none;
}
/* line 20, reset.less */
blockquote,
q {
  quotes: none;
}
/* line 21, reset.less */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 23, reset.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*customize by jsonchou*/
/*grid*/
/* line 28, reset.less */
.g1 {
  width: 10%;
}
/* line 29, reset.less */
.g2 {
  width: 20%;
}
/* line 30, reset.less */
.g3 {
  width: 30%;
}
/* line 31, reset.less */
.g4 {
  width: 40%;
}
/* line 32, reset.less */
.g5 {
  width: 50%;
}
/* line 33, reset.less */
.g6 {
  width: 60%;
}
/* line 34, reset.less */
.g7 {
  width: 70%;
}
/* line 35, reset.less */
.g8 {
  width: 80%;
}
/* line 36, reset.less */
.g9 {
  width: 90%;
}
/* line 37, reset.less */
.g10 {
  width: 100%;
}
/* line 39, reset.less */
a {
  color: #333;
  text-decoration: none;
}
/* line 41, reset.less */
input[type=submit],
button {
  cursor: pointer;
}
/* line 42, reset.less */
strong,
b,
.b {
  font-weight: bold;
}
/* line 43, reset.less */
.u {
  text-decoration: underline;
}
/* line 45, reset.less */
.center {
  text-align: center;
}
/* line 46, reset.less */
.tr {
  text-align: right;
}
/* line 47, reset.less */
.tl {
  text-align: left;
}
/* line 48, reset.less */
.tc {
  text-align: center;
}
/* line 50, reset.less */
.fr {
  float: right;
}
/* line 51, reset.less */
.fl {
  float: left;
}
/* line 53, reset.less */
.f333 {
  color: #333;
}
/* line 54, reset.less */
.f666 {
  color: #666;
}
/* line 55, reset.less */
.f999 {
  color: #999;
}
/* line 57, reset.less */
.f10 {
  font-size: 10px;
}
/* line 58, reset.less */
.f11 {
  font-size: 11px;
}
/* line 59, reset.less */
.f12 {
  font-size: 12px;
}
/* line 60, reset.less */
.f13 {
  font-size: 13px;
}
/* line 61, reset.less */
.f14 {
  font-size: 14px;
}
/* line 62, reset.less */
.f15 {
  font-size: 15px;
}
/* line 63, reset.less */
.f16 {
  font-size: 16px;
}
/* line 64, reset.less */
.f17 {
  font-size: 17px;
}
/* line 65, reset.less */
.f18 {
  font-size: 18px;
}
/* line 66, reset.less */
.f20 {
  font-size: 20px;
}
/* line 67, reset.less */
.f24 {
  font-size: 24px;
}
/* line 68, reset.less */
.f28 {
  font-size: 28px;
}
/* line 69, reset.less */
.f30 {
  font-size: 30px;
}
/* line 71, reset.less */
.show,
.block {
  display: block;
}
/* line 72, reset.less */
.hide {
  display: none;
}
/* line 73, reset.less */
.yahei {
  font-family: "Microsoft YaHei";
}
/* line 74, reset.less */
.songti {
  font-family: SimSun;
}
/* line 75, reset.less */
.verdana {
  font-family: Verdana;
}
/* line 77, reset.less */
.vm {
  vertical-align: middle;
}
/* line 79, reset.less */
.mt5 {
  margin-top: 5px;
}
/* line 80, reset.less */
.mr5 {
  margin-right: 5px;
}
/* line 81, reset.less */
.mb5 {
  margin-bottom: 5px;
}
/* line 82, reset.less */
.ml5 {
  margin-left: 5px;
}
/* line 83, reset.less */
.mt10 {
  margin-top: 10px;
}
/* line 84, reset.less */
.mr10 {
  margin-right: 10px;
}
/* line 85, reset.less */
.mb10 {
  margin-bottom: 10px;
}
/* line 86, reset.less */
.ml10 {
  margin-left: 10px;
}
/* line 88, reset.less */
.p5 {
  padding: 5px;
}
/* line 89, reset.less */
.p10 {
  padding: 10px;
}
/* line 90, reset.less */
.pt5 {
  padding-top: 5px;
}
/* line 91, reset.less */
.pr5 {
  padding-right: 5px;
}
/* line 92, reset.less */
.pb5 {
  padding-bottom: 5px;
}
/* line 93, reset.less */
.pl5 {
  padding-left: 5px;
}
/* line 94, reset.less */
.pt10 {
  padding-top: 10px;
}
/* line 95, reset.less */
.pr10 {
  padding-right: 10px;
}
/* line 96, reset.less */
.pb10 {
  padding-bottom: 10px;
}
/* line 97, reset.less */
.pl10 {
  padding-left: 10px;
}
/* line 99, reset.less */
.lh1 {
  line-height: 1;
}
/* line 100, reset.less */
.lh2 {
  line-height: 2;
}
/* line 101, reset.less */
.lh3 {
  line-height: 3;
}
/* line 103, reset.less */
.pointer {
  cursor: pointer;
}
/* line 104, reset.less */
.noborder {
  border: 0 none;
}
/* line 106, reset.less */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
/* line 107, reset.less */
.clearfix:after {
  clear: both;
}
/* line 108, reset.less */
.clearfix {
  *zoom: 1;
}
/* line 110, reset.less */
.white {
  color: #fff;
}
/* line 111, reset.less */
.orange {
  color: #f60;
}
/* line 112, reset.less */
.blue {
  color: #36c;
}
/* line 113, reset.less */
.green {
  color: #49a100;
}
/* line 115, reset.less */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}
/*******************CSS RESET END*************************/
/* line 7, style.less */
body {
  background: #a0150a url(cj.jpg) no-repeat center 0;
}
/* line 9, style.less */
.hide {
  display: none;
}
/* line 11, style.less */
.main {
  position: relative;
  width: 640px;
  height: 559px;
  margin: 79px auto;
}
/* line 12, style.less */
.scroller-box {
  background: url(tiger.png) no-repeat 0 0;
  width: 640px;
  height: 559px;
  position: relative;
  z-index: 99;
}
/* line 13, style.less */
.scroller {
  width: 620px;
  height: 210px;
  overflow: hidden;
  position: relative;
  z-index: 99;
  margin: 309px 0 0 37px;
  display: inline-block;
}
/* line 14, style.less */
.scroller ul {
  width: 750px;
  height: 210px;
}
/* line 15, style.less */
.scroller li {
  width: 158px;
  height: 210px;
  float: left;
  margin-right: 35px;
  line-height: 210px;
  font-weight: bold;
  font-family: 'Microsoft YaHei';
  text-align: center;
  font-size: 100px;
  color: #f60;
  background: #eee;
  overflow: hidden;
}
/* line 16, style.less */
.scroller li.empty {
  background: url(cj3.jpg) no-repeat center 0;
}
/* line 17, style.less */
.uzai-empty {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
/* line 19, style.less */
.uzai-list {
  height: 210px;
  position: absolute;
  left: 0;
  top: 0;
  width: 620px;
  z-index: 9;
}
/* line 20, style.less */
.uzai-list ul {
  position: absolute;
  left: 0;
}
/* line 22, style.less */
.uzai-list-on {
  -webkit-animation-name: x-spin-2;
  -webkit-animation-duration: 5s;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}
/* line 23, style.less */
.uzai-list-on {
  -moz-animation-name: x-spin-2;
  -moz-animation-duration: 5s;
  -moz-transform-style: preserve-3d;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
}
/*.uzai-list-on ul { transition: all ease-in-out 2s; }*/
/* line 27, style.less */
.uzai-list-on ul:nth-child(1) {
  -moz-transform: rotateX(0deg) translateZ(235px);
  -webkit-transform: rotateX(0deg) translateZ(235px);
  transform: rotateX(0deg) translateZ(235px);
}
/* line 28, style.less */
.uzai-list-on ul:nth-child(2) {
  -moz-transform: rotateX(30deg) translateZ(235px);
  -webkit-transform: rotateX(30deg) translateZ(235px);
  transform: rotateX(30deg) translateZ(235px);
}
/* line 29, style.less */
.uzai-list-on ul:nth-child(3) {
  -moz-transform: rotateX(60deg) translateZ(235px);
  -webkit-transform: rotateX(60deg) translateZ(235px);
  transform: rotateX(60deg) translateZ(235px);
}
/* line 30, style.less */
.uzai-list-on ul:nth-child(4) {
  -moz-transform: rotateX(90deg) translateZ(235px);
  -webkit-transform: rotateX(90deg) translateZ(235px);
  transform: rotateX(90deg) translateZ(235px);
}
/* line 31, style.less */
.uzai-list-on ul:nth-child(5) {
  -moz-transform: rotateX(120deg) translateZ(235px);
  -webkit-transform: rotateX(120deg) translateZ(235px);
  transform: rotateX(120deg) translateZ(235px);
}
/* line 32, style.less */
.uzai-list-on ul:nth-child(6) {
  -moz-transform: rotateX(150deg) translateZ(235px);
  -webkit-transform: rotateX(150deg) translateZ(235px);
  transform: rotateX(150deg) translateZ(235px);
}
/* line 33, style.less */
.uzai-list-on ul:nth-child(7) {
  -moz-transform: rotateX(180deg) translateZ(235px);
  -webkit-transform: rotateX(180deg) translateZ(235px);
  transform: rotateX(180deg) translateZ(235px);
}
/* line 34, style.less */
.uzai-list-on ul:nth-child(8) {
  -moz-transform: rotateX(210deg) translateZ(235px);
  -webkit-transform: rotateX(210deg) translateZ(235px);
  transform: rotateX(210deg) translateZ(235px);
}
/* line 35, style.less */
.uzai-list-on ul:nth-child(9) {
  -moz-transform: rotateX(240deg) translateZ(235px);
  -webkit-transform: rotateX(240deg) translateZ(235px);
  transform: rotateX(240deg) translateZ(235px);
}
/* line 36, style.less */
.uzai-list-on ul:nth-child(10) {
  -moz-transform: rotateX(270deg) translateZ(235px);
  -webkit-transform: rotateX(270deg) translateZ(235px);
  transform: rotateX(270deg) translateZ(235px);
}
/* line 37, style.less */
.uzai-list-on ul:nth-child(11) {
  -moz-transform: rotateX(300deg) translateZ(235px);
  -webkit-transform: rotateX(300deg) translateZ(235px);
  transform: rotateX(300deg) translateZ(235px);
}
/* line 38, style.less */
.uzai-list-on ul:nth-child(12) {
  -moz-transform: rotateX(330deg) translateZ(235px);
  -webkit-transform: rotateX(330deg) translateZ(235px);
  transform: rotateX(330deg) translateZ(235px);
}
/* line 40, style.less */
.handler {
  perspective: 1000px;
  width: 42px;
  height: 187px;
  position: absolute;
  right: -79px;
  top: 315px;
  overflow: hidden;
  transform-style: preserve-3d;
  z-index: 1;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 41, style.less */
.handler-box {
  width: 42px;
  height: 187px;
  background: url(cj2.png) no-repeat center 0;
}
/* line 42, style.less */
.handler .ball {
  cursor: pointer;
  width: 42px;
  height: 44px;
  position: absolute;
  left: 1px;
  top: 0;
}
/* line 43, style.less */
.handler .holder {
  cursor: pointer;
  width: 42px;
  height: 174px;
  position: absolute;
  left: 0;
  top: 44px;
}
@-webkit-keyframes x-spin-2 {
  /* line 46, style.less */
  0% {
    -webkit-transform: rotateX(1440deg);
  }
  /* line 47, style.less */
  50% {
    -webkit-transform: rotateX(720deg);
  }
  /* line 48, style.less */
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
@-moz-keyframes x-spin-2 {
  /* line 52, style.less */
  0% {
    -moz-transform: rotateX(1440deg);
  }
  /* line 53, style.less */
  50% {
    -moz-transform: rotateX(720deg);
  }
  /* line 54, style.less */
  100% {
    -moz-transform: rotateX(0deg);
  }
}
